[Desktop Entry]
Version=0.5
Name=Rambox
Comment=Free, Open Source, Cross Platform Messaging app
Exec=/opt/rambox/rambox
Terminal=false
Type=Application
Categories=Utility;Application;
